.search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    width: 42.5px; /* Initial width for icon only */
    transition: width 0.3s ease; /* Smooth transition for width expansion */
    overflow: hidden;

    input {
        background-color: transparent;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: none;
        border: none;
        font-size: 1em;
        color: white;
        padding: 0 20px;
        display: none; /* Hidden by default */
        transition: display 0.3s ease; /* Transition effect */
    }

    .fa, button {
        box-sizing: border-box;
        width: 42.5px;
        height: 42.5px;
        border-radius: 50%;
        color: #8c52ff;
        text-align: center;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &:hover {
        width: 200px; /* Expand width on hover */
    }

    &:hover input {
        display: block; /* Show input on hover */
    }

    &:hover .fa {
        background: transparent; /* Keep background transparent */
        color: white; /* Adjust color if needed */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search-form {
        display: none;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .search-form {
        display: none;
    }
}

/* General styles for the filter form */
.filter-form {
    display: flex;
    align-items: center;
}

/* Styles for the select dropdown */
#FilterGoalsCategory {
    padding: 0.5rem;
    background-color: #383838;
    border: 1px solid #626262;
    border-radius: 10px;
    margin: 0;
    width: 130px;
    height: 2.2rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: 6px;
}

/* Styles for the submit button */
.filter-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2px;

}

/* Change background color on hover */
.filter-form button:hover {
    background-color: #00bfa5;
}

/* Icon styles */
.filter-form button .fa {
    margin: 0;
    width: 20px;
    height: 20px;
}

/* Optional: Style for the filter icon */
.filter-form button img {
    width: 20px;
    /* Adjust width */
    height: 20px;
}

.custom-header {
    display: flex;
    flex-direction: row;
}

.th-interact {
    font-size: 16px;
    &:hover {
        cursor: pointer;
    }

}

@media only screen and (min-width: 425px) and (max-width: 767px) {
#FilterGoalsCategory {
        width: 50px !important;
    }    

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #FilterGoalsCategory {
        width: 60px !important;
    } 
  }