.container{
    background-color: #1b1b1b;
    display: flex;
    height: 100vh;
    width: auto;
}

.nav-bar{
    width: 20%;
    margin-right: 50px;
}

.Profile_img{
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */

    height: 120px;
    width: 120px;
    margin: auto; /* Center the container itself */
    margin-top: 2.5vh;
    margin-bottom: 2vh;

    img{
    border-radius: 50%;   
    };
}

.user-name{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(164, 164, 164, 1);
    margin-bottom: 10px;

    p
    {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    };
}

#Nav_Button{
    height: 8vh;
    display: flex;
    margin-left: 35px;

    a{
    text-decoration: none;
    color: rgba(216, 255, 251, 1);
    };

    p{
    padding: 7px 0;
    font-size: 20px;
    width: 12vw;
    font-family: 'Roboto', sans-serif;
    };

    img{ 
    padding: 5px 17px 7px 0;
    filter: brightness(0.2);
    };
}

#Nav_Button.active p a {
    color: rgba(0, 218, 198, 1); /* Change this to the desired active color */
    font-weight: bold; /* Optional: make it bold */
    filter: brightness(1);
}

#Nav_Button.active img {
    filter: brightness(1); /* Dimmed default state */
}

.Penny_Logo{
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.content{
    width: 100%;
}

.right-container{
    background-color: black;
    width: 1000px;
    height: 700px;
    margin: 60px auto;
    border-radius: 15px;
}

.travel-title{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#travel-title{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: auto;
    color: white;
    padding: auto, 20px;
    font-family: "Rubik", sans-serif;
}

.travel-con{
    display: flex;
    flex-direction: row;
}

.left, .right{
    width: 50%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 155px;
    margin: 20px 0 0 350px;
}

#logo-new-trip{
    margin-top: 18px;
    margin-right: 10px;
    margin-bottom: auto;
}

#new-trip{
    color: white;
    margin-top: 16px;
    margin-right: 30px;
    margin-bottom: auto;
}

#search{
    margin-top: 18px;
    margin-bottom: auto;
}

/* Temporary Approval Design*/
.Inner-container
{
    width: 1000px;
    height: 800px;  
    margin: 0 auto;
}

.Top-container-Approval {
    height: 15%;
    display: flex;
    align-items: flex-end; 
    padding: 10px; 
    justify-content: space-between;
}

.Top-container-Approval p {
    font-size: 50px;
    color: white;
    margin: 0; 
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}
.bottom-line {
    width: 100%;
    border: none; 
    border-top: 2px solid rgb(255, 255, 255, 1); 
    margin-top: 0;
}
.Bottom-container-Approval
{
    height: 85%;
}
.Left-Top
{
    flex: 0 1 auto;
}
.Right-Top
{
    flex: 0 1 auto;
}

.table-approval {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px; 
}

.table-approval thead {
    background-color: transparent; 
}

.table-approval thead th {
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    width: 14.2857%; 
}

.table-approval td {
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    width: 14.2857%; 
}

.table-approval tbody tr:nth-child(even) {
    background-color: #1b1b1b; 
}

.table-approval tbody tr:nth-child(odd) {
    background-color: #28282A; 
}

.button-container {
    display: flex; 
    justify-content: space-between; 
}

.button-container button {
    flex: 1; 
    background-color: #444; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.button-container button:hover {
    background-color: #666; 
}

/* Temporary POP-UP Display */
.popup {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
    background-color: #282828;
    margin: auto; /* Center the popup */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust the width as needed */
    max-width: 600px; /* Optional: Max width for larger screens */
    color: white;
    position: relative; /* Position relative for absolute children */
    top: 50%; /* Move it down 50% of the viewport */
    transform: translateY(-50%); /* Adjust back by 50% of its height */
    border-radius: 20px;
    text-align: center;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}


/* Temporary Approval Design*/  


/* Travel Design */

.travel-title{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#travel-title{
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: auto;
    color: white;
    padding: auto, 20px;
    font-family: "Rubik", sans-serif;
}

.travel-con{
    display: flex;
    flex-direction: row;
}

.left, .right{
    width: 50%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 155px;
    margin: 45px 0 0 350px;
}

#logo-new-trip{
    margin-top: 18px;
    margin-right: 10px;
    margin-bottom: auto;
}

#search{
    margin-top: 18px;
    margin-bottom: auto;
    margin-right: 10px;
}

hr.new {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #848484;
    width: 870px;
    margin-bottom: 30px;
}

hr.new1 {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #848484;
    width: 870px;
}

.table-travel {
    width: 86%;
    border-collapse: separate;
    border-spacing: 0 5px;
    border: 2px solid red;
    margin: 0 70px;
}

.table-travel thead {
    background-color: transparent; /* Make the header background transparent */
}

.table-travel thead th {
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
}

label{
    color: white;
    font-size: 14px;
}

.con{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.list{
    margin: 0 70px;
}

.list-var{
    font-size: 18px;
}

.duration{
    display: flex;
    flex-direction: row;
}

.name-input{
    margin-left: 100px;
    width: 700px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.mode-btn{
    margin-left: 100px;
    margin-right: 10px;
}

.mode-btn1{
    margin-left: 30px;
    margin-right: 10px;
}

.category-btn{
    margin-left: 75px;
    margin-right: 10px;
}

.category-btn1{
    margin-left: 32px;
    margin-right: 10px;
}

.category-btn2{
    margin-left: 30px;
    margin-right: 10px;
}

.duration-input{
    margin-top: 5px;
    margin-left: 82px;
    width: 310px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.duration-input1{
    margin-top: 5px;
    width: 310px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.duration-input2{
    margin-top: 5px;
    margin-left: 162px;
    width: 310px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.student-btn{
    margin-left: 90px;
    margin-right: 6px;
}

.student-btn1{
    margin-left: 30px;
    margin-right: 6px;
}

.from-input{
    margin-left: 50px;
    width: 687px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.destination-input{
    margin-left: 60px;
    width: 687px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.budget-input{
    margin-left: 50px;
    width: 687px;
    border: none;
    border-radius: 5px;
    background-color: #5b5b5c;
}

.travel-submit-btn{
    margin-top: -30px;
    margin-left: 760px;
    width: 90px;
    background-color: #00dac6;
    border: none;
    border-radius: 25px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
}

input{
    color: white;
    padding: 0 10px;
    height: 30px;
    font-weight: 600;
}