.container{
  background-color: #1b1b1b;
  display: flex;
}

.nav-bar{
  width: 20%;
}

.Profile_img{
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */

  height: 120px;
  width: 120px;
  margin: auto; /* Center the container itself */
  margin-top: 2.5vh;
  margin-bottom: 2vh;

  img{
  border-radius: 50%;   
  };
}

.user-name{
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(164, 164, 164, 1);
  margin-bottom: 10px;

  p
  {
      font-size: 25px;
      font-family: 'Roboto', sans-serif;
  };
}

#Nav_Button{
  height: 8vh;
  display: flex;
  margin-left: 35px;

  a{
  text-decoration: none;
  color: rgba(216, 255, 251, 1);
  };

  p{
  padding: 7px 0;
  font-size: 20px;
  width: 12vw;
  font-family: 'Roboto', sans-serif;
  };

  img{ 
  padding: 5px 17px 7px 0;
  filter: brightness(0.2);
  };
}

#Nav_Button.active p a {
  color: rgba(0, 218, 198, 1); /* Change this to the desired active color */
  font-weight: bold; /* Optional: make it bold */
  filter: brightness(1);
}

#Nav_Button.active img {
  filter: brightness(1); /* Dimmed default state */
}

.Penny_Logo{
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.content{
  width: 80%;
}

.right-container{
  background-color: black;
  width: 950px;
  height: 600px;
  margin: 60px auto;
  border-radius: 15px;
}

.travel-title{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#travel-title{
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: auto;
  color: white;
  padding: auto, 20px;
  font-family: "Rubik", sans-serif;
}

.travel-con{
  display: flex;
  flex-direction: row;
}

.left, .right{
  width: 50%;
}

.box{
  display: flex;
  flex-direction: row;
  width: 155px;
  margin: 20px 0 0 350px;
}

#logo-new-trip{
  margin-top: 18px;
  margin-right: 10px;
  margin-bottom: auto;
}

#search{
  margin-top: 18px;
  margin-bottom: auto;
  margin-right: 10px;
}

hr.new {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #848484;
  width: 870px;
}

hr.new1 {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #848484;
  width: 870px;
}