.burger
{
    display: none;
}
.table-approval th:nth-child(6),
.table-approval td:nth-child(6)
{
    display: none;
}

@media only screen and (min-width: 375px) and (max-width: 768px)
{
    .table-approval th:nth-child(6),
    .table-approval td:nth-child(6)
    {
        display: block;
    }
        #burger-nav-bar
    {
        display: none;
    }
    #mobile-burger-hide
    {
        display: block;
    }
    .burger
    {
        display: block;
        cursor: pointer;
        width: 85vw;
            .burger-outer
            {
                display: flex;
                justify-content: space-between;
                margin: 2vw 0;
            }
    }

    body
    {
        .container
        {
            display: flex;
            flex-direction: column;
            height: auto;
            margin-left: 5%;
            margin-right: 5%;
        }

        .main-section
        {
            margin-top: 0;
            width: 85vw;
            overflow-x: auto;
        } 

    }
    #savings-main-section
    {
        .main-container
        {

            .content
            {
                .Lower-content
                {
                    .table-approval thead th
                    {
                        width: 25% !important;
                        text-align: center !important;
                    }
                    .table-approval td
                    {
                        width: 25% !important;
                        text-align: center !important;
                    }
                    .table-approval th:nth-child(2),
                    .table-approval td:nth-child(2),
                    .table-approval th:nth-child(3),
                    .table-approval td:nth-child(3)
                    {
                        display: none;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 300px) and (max-width: 349px)
{
    .table-approval th:nth-child(6),
    .table-approval td:nth-child(6)
    {
        display: block;
    }
        #burger-nav-bar
    {
        display: none;
    }
    #mobile-burger-hide
    {
        display: block;
    }
    .burger
    {
        display: block;
        cursor: pointer;
        width: 85vw;
            .burger-outer
            {
                display: flex;
                justify-content: space-between;
                margin: 2vw 0;
            }
            .table-approval thead td
            {
                width: 33.33%;
            }
            
    }

    body
    {
        .container
        {
            display: flex;
            flex-direction: column;
            height: auto;
            margin-left: 5%;
            margin-right: 5%;
            
        }

        .main-section
        {
            margin-top: 0;
            width: 85vw;
            overflow-x: auto;
        } 

    }

    #savings-main-section
    {
        .main-container
        {

            .content
            {
                .Lower-content
                {
                    .table-approval th
                    {
                        width: 33.33% !important;
                        text-align: center !important;
                    }
                    .table-approval td
                    {
                        width: 33.33% !important;
                        text-align: center !important;
                    }
                        .table-approval th:nth-child(2),
                        .table-approval td:nth-child(2),
                        .table-approval th:nth-child(3),
                        .table-approval td:nth-child(3),
                        .table-approval th:nth-child(4),
                        .table-approval td:nth-child(4)
                        {
                            display: none;
                        }
                }
            }
        }
    }
    
    
}



