@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background-color: #1b1b1b;
  height: 98vh;
  width: 98vw;
  font-family: "Atkinson Hyperlegible", sans-serif;
  overflow-y: hidden;
  .navbar-mobile {
    display: none;
  }
  .container {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    height: 98vh;
    width: 70vw;
    margin-left: 15%;
    .navbar-custom {
      width: 30%;
      height: 100%;
      margin-right: 50px;
      .navbar-div {
        display: flex;
        justify-content: start;
        flex-direction: row;
        .navbar-icon-custom {
          height: 2.2rem;
          width: 18%;
          margin: 4.5% 0;
          filter: brightness(0.2);
          transition: filter 0.3s ease;
        }
        .navbar-items-custom {
          margin: 0 15%;
          text-align: end;
          text-decoration: none;
          font-family: "Atkinson Hyperlegible", sans-serif;
          font-size: 20px;
          color: #d8fffb;
          transition: color 0.3s ease;
        }

        &.active {
          .navbar-icon-custom {
            filter: brightness(1);
          }
          .navbar-items-custom {
            color: #00dac6;
          }
        }
      }
      .Penny_Logo {
        display: flex; /* Use flexbox */
        justify-content: start; /* Center items horizontally */
        margin: 0 2%;
      }
      .Profile {
        .Profile_img {
          display: flex; /* Use flexbox */
          align-items: center; /* Center items vertically */
          justify-content: center; /* Center items horizontally */

          height: 120px;
          width: 120px;
          margin: auto; /* Center the container itself */
          margin-top: 2.5vh;
          margin-bottom: 2vh;

          img {
            border-radius: 50%;
          }
        }
      }
    }
    .user-name {
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(164, 164, 164, 1);
      margin-bottom: 10px;

      p {
        font-size: clamp(16px, 4vw, 25px);
        font-family: "Atkinson Hyperlegible", sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }
  }
  .main-section {
    width: 80vw;
    height: 80vh;
    background-color: #0b0b0b;
    border-radius: 10px;
    margin-top: 5%;
    .main-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: auto;

      .content {
        display: flex;
        flex-direction: column;
        background-color: #1b1b1b;
        border-radius: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5%;
        padding: 8px 0 8px 0;
        height: 90%;
        width: 95%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          width: 8px; /* Width of the scrollbar */
        }

        &::-webkit-scrollbar-track {
          background: #383838; /* Background of the scrollbar track */
          border-radius: 10px; /* Rounded corners for the track */
        }

        &::-webkit-scrollbar-thumb {
          background: #626262; /* Color of the scrollbar thumb */
          border-radius: 10px; /* Rounded corners for the thumb */
          border: 2px solid #383838; /* Space around the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #484848; /* Color of the scrollbar thumb on hover */
        }
        .table-approval {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0 5px;
          thead {
            background-color: transparent;
            th {
              padding: 10px;
              color: white;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
              text-align: left;
            }
            &:hover {
              padding: 10px;
              background-color: #00bfa5;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
            }
          }
          tbody {
            tr:nth-child(even) {
              background-color: #1b1b1b;
              cursor: pointer;
            }
            tr:nth-child(odd) {
              background-color: #28282a;
              cursor: pointer;
            }

            td {
              padding: 10px;
              color: white;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
              width: 14.2857%;

              button {
                border: 1px solid rgba(0, 218, 198, 1);
                border-radius: 20px;
                background-color: rgba(0, 218, 198, 1);
                color: black;
                font-family: "Atkinson Hyperlegible", sans-serif;
                font-size: small;
                height: 30px;
                margin: 3px 15px 0 0;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(0, 218, 198, 0.8); // Slightly transparent on hover
                }
            }
          }
        }
        .table-custom {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0 5px;
          thead {
            background-color: transparent;
            th {
              padding: 10px;
              color: white;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
              text-align: left;
            }
            &:hover {
              padding: 10px;
              background-color: #00bfa5;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
            }
          }
          tbody {
            tr:nth-child(even) {
              background-color: #1b1b1b;
              cursor: pointer;
            }
            tr:nth-child(odd) {
              background-color: #28282a;
              cursor: pointer;
            }
            td {
              padding: 10px;
              color: white;
              font-size: 16px;
              font-family: "Atkinson Hyperlegible", sans-serif;
              width: 14.2857%;
            }
          }
        }
      }
      .cabin-condensed-h2 {
        font: 20px "Atkinson Hyperlegible", sans-serif;
        color: white;
        text-align: center;
      }
      .top-bar {
        margin: 0 0 5px 0;
        width: 100%;
        border-bottom: 1px solid #383838;
        h1.header {
          margin: 0 0 5px 20px;
          font: 30px "Atkinson Hyperlegible", sans-serif;
          color: #eeeeee;
        }
        &.space-between {
          display: flex;
          justify-content: space-between;
        }
        .New-Saving {
          border: 1px solid rgba(0, 218, 198, 1);
          border-radius: 20px;
          background-color: rgba(0, 218, 198, 1);
          color: black;
          font-family: "Atkinson Hyperlegible", sans-serif;
          font-size: small;
          height: 30px;
          margin: 3px 15px 0 0;
          &:hover {
            background-color: #00bfa5; /* Slightly darker shade for hover */
            cursor: pointer;
          }
        }
        .Saving-Form-Format {
          margin: 20px 0px;
        }
        .Saving-Form-Format input,
        select {
          height: 4vh;
          border-radius: 10px;
        }
        .Savings-Label {
          display: inline-flex;
          width: 40px;
          margin-left: 5%;
          margin-right: 10%;
          font-size: 20px;
          font-weight: 500;
          color: #908f8f;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin: 5px 0 5px 0;
        padding: 5px;
        height: 6%;
        width: 95%;
        border: 1px solid #626262;
        background-color: #28282a;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        &:hover {
          background-color: #383838;
          transition: background-color 0.3s ease;
        }
        &:active {
          background-color: #484848;
          transition: background-color 0.1s ease;
        }

        .pfp-labels {
          margin: 2px 2px 2px 10px;
          text-align: center;
          font: 20px "Atkinson Hyperlegible", sans-serif;
          color: #eeeeee;
        }
        a {
          text-decoration: none;
          color: white;
        }
        .toggle-notification {
          display: flex;
          align-items: center;
          margin-right: 5px;
        }

        .toggle-checkbox {
          display: none; /* Hide the checkbox */
        }

        .toggle-label {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 30px;
          background-color: #ccc;
          border-radius: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .toggle-label .toggle-button {
          position: absolute;
          content: "";
          width: 26px;
          height: 26px;
          background-color: #fff;
          border-radius: 50%;
          top: 2px;
          left: 2px;
          transition: transform 0.3s ease;
        }

        .toggle-checkbox:checked + .toggle-label {
          background-color: #00dac6; /* Active color for the toggle when notifications are ON */
        }

        .toggle-checkbox:checked + .toggle-label .toggle-button {
          transform: translateX(
            30px
          ); /* Moves the button to the right when active */
        }
      }
      .pfp-form {
        display: flex;
        flex-direction: row;
        width: 95%;
        .big-divider {
          width: 70%;
          display: flex;
          flex-direction: column;
          padding: 0 5px;
          height: 100%;
          &.full {
            width: 95%;
          }
          .file-label-report {
            border: 1px solid #626262;
            background-color: #484848;
            color: white;
            font: 15px "Atkinson Hyperlegible", sans-serif;
            border-radius: 10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            height: 10%;
            width: 100%;
            margin: 4% 0 0 0;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:hover {
              background-color: #383838;
              transition: background-color 0.3s ease;
              cursor: pointer;
            }
          }
          .file-input {
            display: none;
          }
          .date-input {
            width: 30%;
            border-radius: 10px;
            margin-right: 20px;
            background-color: #383838;
            border: 1px solid #626262;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            height: 2rem;
            &:hover {
              cursor: pointer;
            }
            &.medium {
              width: 40%;
              margin-right: 0px;
            }
          }
          .var-input {
            border-radius: 10px;
            background-color: #383838;
            border: 1px solid #626262;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            height: 2rem;
            width: 70%;
            padding: 0 10px;
            &.large {
              width: 80%;
            }
            &.x-large {
              width: 100%;
            }
            &.pointer {
              cursor: pointer;
            }
            &.medium {
              width: 50%;
              margin: 0 20px 0 0;
            }
          }
          .var-input-report {
            border-radius: 10px;
            background-color: #383838;
            border: 1px solid #626262;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            height: 2rem;
            width: 100%;
            padding: 0 10px;
          }
          .text-input {
            border-radius: 10px;
            background-color: #383838;
            border: 1px solid #626262;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            height: 5rem;
            width: 70%;
            padding: 0 10px;
            &.x-large {
              width: 100%;
            }
          }
          .text-input-report {
            border-radius: 10px;
            background-color: #383838;
            border: 1px solid #626262;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            height: 5rem;
            width: 100%;
            padding: 0 10px;
          }
          .row-form {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            justify-content: space-between;
            &.no-margin {
              margin-right: 0;
            }
            &.large {
              width: 100%;
            }
          }
          .column-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 0 10px 0;
            width: 70%;
            &.start {
              justify-content: start;
            }
            &.x-large {
              width: 100%;
            }
          }
          .file-label {
            display: none; // Initially hidden
            border: 1px solid #626262;
            background-color: #484848;
            color: white;
            font: 15px "Atkinson Hyperlegible", sans-serif;
            border-radius: 10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            height: 2rem;
            width: 30%;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:hover {
              background-color: #383838;
              transition: background-color 0.3s ease;
              cursor: pointer;
            }
          }
          #file-label {
            display: none;
          }
          #file-input {
            display: none;
          }
          .radio {
            margin: 0 10px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .form-labels {
          margin: 5px 0 10px 0;
          text-align: left;
          font: 20px "Atkinson Hyperlegible", sans-serif;
          color: #eeeeee;
          &.row {
            margin-right: 10px;
            width: 15%;
          }
          &.center {
            text-align: center;
            align-self: center;
          }
          &.no-margin {
            margin: 0;
          }
        }
      }
      .small-divider {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        .file-label {
          border: 1px solid #626262;
          background-color: #484848;
          color: white;
          font: 15px "Atkinson Hyperlegible", sans-serif;
          border-radius: 10px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          height: 10%;
          display: flex;
          justify-content: center;
          padding: 10px 10px 0 10px; // Adjust padding as needed
          align-items: center;
          text-align: center;
          margin-bottom: 50%;

          &:hover {
            background-color: #383838;
            transition: background-color 0.3s ease;
            cursor: pointer;
          }
        }
        .Profile_img {
          display: flex; /* Use flexbox */
          align-items: center; /* Center items vertically */
          justify-content: center; /* Center items horizontally */

          height: 120px;
          width: 120px;
          margin: auto; /* Center the container itself */
          margin-top: 2.5vh;
          margin-bottom: 2vh;

          img {
            border-radius: 50%;
          }
        }
        .submit-button {
          display: none;
        }

        #file-input {
          display: none;
        }
      }
    }
    .btn-options {
      margin-top: auto; /* Push the buttons to the bottom */
      display: flex;
      justify-content: space-evenly; /* Distribute the buttons evenly */
      width: 100%;
      margin-top: 20px;
      .link-btn {
        margin: 0 2%;
      }
      .cancel {
        background-color: #484848;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          background-color: red;
        }
      }
      .save {
        background-color: #00dac6;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        &:hover {
          background-color: #009b95;
        }
      }
    }
    #report-btns {
      width: 100%;
      justify-content: end;
      margin-left: 21px;
    }
  }
}
.sign-out {
  display: flex;
  justify-content: end;
  color: red;
  margin: 2% 0;
  width: 92%;
  .sign-out-button {
    background-color: #484848;
    font: 20px "Atkinson Hyperlegible", sans-serif;
    color: #eeeeee;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 120%;
    &:hover {
      background-color: red;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}

.navbar-items {
  display: flex;
  flex-direction: column;
}

.navbar-top {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #333;

  .logo img {
    width: 70px;
  }

  .icon {
    font-size: 24px;
    color: #00dac6;
    cursor: pointer;
  }
}
